body {
    background: url('https://i.imgur.com/QlCwnBk.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #fff;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex-basis: 32%;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card--light {
    background-color: #f0f0f0;
}

.card--light__hover:hover {
    box-shadow: 0 0 20px 15px blue;
}

.card--dark {
    background-color: #333;
    color: #fff;
}

.card--dark__hover:hover {
    box-shadow: 0 0 20px 15px darkred;
}

.card__title {
    font-size: 20px;
    font-weight: bold;
}

.card__image {
    max-width: 100%;
}

.card__content {
    margin-top: 10px;
}

.card__content p {
    margin-bottom: 5px;
}